$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.7);
$red: #ff0000;

$background-gray: #eceff4;

$blue-desc-title: #314f96;
$light-blue-btn: #29aae1;

$green-normal: #03d803;
$green-bright-normal: #00af00;

// Responsive Values //
$width-name: max-width;
$target-width-size-zero: 380px;
$target-width-size-one: 480px;
$target-width-size-two: 640px;
$target-width-size-three: 768px;
$target-width-size-four: 980px;
// Responsive Values //