@charset "UTF-8";
@font-face {
  font-family: 'proximanova-bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proximanova-bold.woff") format("woff"); }
@font-face {
  font-family: 'proximanova-semibold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proximanova-semibold.woff") format("woff"); }
@font-face {
  font-family: 'proximanova';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proximanova.woff") format("woff"); }
* {
  margin: 0 auto;
  padding: 0; }

html, body {
  display: block;
  margin: 0 auto;
  overflow: auto;
  padding: 0; }

.container-fluid {
  padding: 0;
  max-width: 1080px; }

.row {
  padding: 0; }

.top-header {
  float: none;
  height: 1.5em;
  margin: 0 auto;
  padding: 0; }
  .top-header .link-client-login {
    background: #cacaca;
    border-radius: 0 0 5px 5px;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    padding: 5px 10px;
    text-decoration: none; }
  .top-header .link-client-login:hover,
  .top-header .link-client-login:active {
    background: #8dc73f;
    cursor: pointer;
    text-decoration: none; }

.nav-main {
  float: none;
  height: 90px;
  padding: 0; }
  .nav-main .nav-main-logo {
    display: flex;
    padding: 0;
    cursor: pointer; }
    .nav-main .nav-main-logo img {
      width: 100%; }

.responsive-icon {
  display: none; }

.responsive-menu {
  display: none; }
  .responsive-menu .responsive-menu-nav {
    display: none; }

.navbar-nav {
  display: flex;
  float: right;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0; }
  .navbar-nav .nav-item {
    display: flex; }
    .navbar-nav .nav-item .nav-link {
      align-self: center;
      cursor: pointer;
      color: #848484;
      font-size: 0.7em; }

.navbar-nav > .nav-item > .nav-link:hover {
  align-self: center;
  color: #8dc73f;
  cursor: pointer;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold; }

.carousel {
  float: none;
  margin: 0 auto;
  padding: 0 3px; }

.carousel-control.left,
.carousel-control.right {
  background-image: none; }

.carousel-indicators {
  bottom: -10px; }

.front-page-services-block {
  display: flex;
  float: none;
  margin: 1.5em auto;
  padding: 0; }
  .front-page-services-block .services-items {
    border: 1px solid #cacaca;
    cursor: pointer;
    float: none;
    margin: 0 3px;
    padding: 0; }
    .front-page-services-block .services-items :hover,
    .front-page-services-block .services-items :active,
    .front-page-services-block .services-items :focus {
      border: 1px solid #8dc73f; }

.front-page-business-block {
  float: none;
  margin: 1.5em auto;
  padding: 0; }
  .front-page-business-block .business-block-one {
    border-right: 1px solid #cacaca;
    margin: 0;
    padding: 0; }
    .front-page-business-block .business-block-one .business-block-one-map img {
      width: 100%; }
    .front-page-business-block .business-block-one .business-block-one-txt {
      margin: 0; }

.front-page-business-block >
.business-block-one >
.business-block-one-txt >
.business-block-one-btn:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none; }

.front-page-business-block >
.business-block-two >
.business-block-two-txt >
.business-block-one-btn:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none; }

.business-block-two-txt {
  width: auto; }

.bussines-block-one-title {
  font-size: 1.5em;
  font-style: italic;
  text-align: justify; }

.bussines-block-one-paragraph {
  font-size: 0.8em;
  text-align: justify; }

.business-block-one-btn {
  background-color: #8dc73f;
  color: #fff;
  padding: 5px 20px;
  text-decoration: none; }

.aboutus-page-banner-block {
  float: none;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .aboutus-page-banner-block .aboutus-page-banner-block-img {
    height: 100%;
    padding: 0; }
    .aboutus-page-banner-block .aboutus-page-banner-block-img img {
      height: 100%;
      width: 100%; }
  .aboutus-page-banner-block .aboutus-page-banner-block-txt {
    align-items: center;
    background-color: #4c9b10;
    display: flex;
    height: 100%;
    padding: 0; }
    .aboutus-page-banner-block .aboutus-page-banner-block-txt p {
      color: white;
      font-family: 'proximanova-bold';
      font-size: 2.3em;
      font-style: italic;
      font-weight: bold;
      line-height: 1.3em;
      width: 70%; }

.aboutus-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0; }
  .aboutus-page-text-block p {
    font-size: 0.8em;
    text-align: justify; }
  .aboutus-page-text-block .aboutus-page-text-block-firm {
    float: right; }

.internationalization-page-banner-block {
  float: none;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .internationalization-page-banner-block .internationalization-page-banner-block-img {
    height: 100%;
    padding: 0; }
    .internationalization-page-banner-block .internationalization-page-banner-block-img img {
      height: 100%;
      width: 100%; }
  .internationalization-page-banner-block .internationalization-page-banner-block-txt {
    align-items: center;
    background-color: #4c9b10;
    display: flex;
    height: 100%;
    padding: 0; }
    .internationalization-page-banner-block .internationalization-page-banner-block-txt p {
      color: white;
      font-family: 'proximanova-semibold';
      font-size: 2.3em;
      font-style: italic;
      line-height: 1.3em;
      width: 70%; }

.internationalization-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0;
  padding-right: 5px; }
  .internationalization-page-text-block .internationalization-page-txt-one {
    border-right: 1px solid #cacaca; }
    .internationalization-page-text-block .internationalization-page-txt-one p {
      color: #848484;
      font-size: 0.9em;
      padding-right: 1.5em;
      text-align: justify; }
  .internationalization-page-text-block .internationalization-page-txt-two ul {
    list-style: none;
    padding-left: 1em; }
    .internationalization-page-text-block .internationalization-page-txt-two ul li {
      color: #848484;
      font-size: 0.8em;
      line-height: 2.5; }
    .internationalization-page-text-block .internationalization-page-txt-two ul li:before {
      color: #8dc73f;
      content: "• "; }

.entrepreneurs-page-banner-block {
  float: none;
  height: 295px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .entrepreneurs-page-banner-block .entrepreneurs-page-banner-block-img {
    display: flex;
    float: none;
    height: 100%;
    margin: 0 auto;
    padding: 0; }
    .entrepreneurs-page-banner-block .entrepreneurs-page-banner-block-img img {
      height: 100%;
      padding: 0 15px;
      width: 100%; }

.entrepreneurs-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0;
  padding-right: 5px; }
  .entrepreneurs-page-text-block .entrepreneurs-page-txt-one h1 {
    color: #848484;
    font-size: 2.1em;
    font-style: italic;
    padding-left: 0.25em; }
    .entrepreneurs-page-text-block .entrepreneurs-page-txt-one h1 strong {
      color: #8dc73f; }
  .entrepreneurs-page-text-block .entrepreneurs-page-txt-two p {
    color: #848484;
    font-size: 0.9em;
    padding-right: 1.5em; }

.services-page-banner-block {
  float: none;
  height: 270px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .services-page-banner-block .services-page-banner-block-img {
    display: flex;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0; }
    .services-page-banner-block .services-page-banner-block-img img {
      height: 100%;
      overflow: hidden;
      padding: 0 15px;
      width: 100%; }
  .services-page-banner-block .services-page-banner-block-txt h1 {
    color: #8dc73f;
    font-size: 2.3em;
    font-style: italic;
    padding: 0.3em;
    text-align: center; }

.services-page-banner-title {
  float: none;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .services-page-banner-title h1 {
    color: #8dc73f;
    font-size: 2.3em;
    font-style: italic;
    padding: 0.3em;
    text-align: center; }

.services-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0;
  padding-right: 5px; }
  .services-page-text-block .services-page-txt-one {
    border-right: 1px solid #cacaca; }
    .services-page-text-block .services-page-txt-one .services-page-txt-one-title {
      color: #8dc73f;
      font-family: 'proximanova-semibold';
      font-style: italic;
      font-weight: bold; }
    .services-page-text-block .services-page-txt-one ul {
      list-style: none;
      padding-left: 1em; }
      .services-page-text-block .services-page-txt-one ul li {
        color: #848484;
        font-size: 0.8em;
        line-height: 2.5; }
      .services-page-text-block .services-page-txt-one ul li:before {
        color: #8dc73f;
        content: "• "; }
      .services-page-text-block .services-page-txt-one ul li:hover {
        font-weight: bold; }
  .services-page-text-block .services-page-txt-two p {
    color: #848484;
    font-size: 0.9em;
    padding-left: 1.5em;
    text-align: justify; }

.contact-page-banner-block {
  float: none;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .contact-page-banner-block .contact-page-banner-block-img {
    display: flex;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0; }
    .contact-page-banner-block .contact-page-banner-block-img img {
      height: 100%;
      overflow: hidden;
      padding: 0 15px;
      width: 100%; }
  .contact-page-banner-block .contact-page-banner-block-txt h1 {
    color: #8dc73f;
    font-size: 2.3em;
    font-style: italic;
    padding: 0.3em;
    text-align: center; }

.contact-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0;
  padding-right: 5px; }
  .contact-page-text-block .contact-page-txt-one {
    border-right: 1px solid #cacaca; }
    .contact-page-text-block .contact-page-txt-one .contact-page-txt-one-title {
      color: #8dc73f;
      font-family: 'proximanova-semibold';
      font-style: italic;
      font-weight: bold; }
    .contact-page-text-block .contact-page-txt-one ul {
      list-style: none;
      padding-left: 0.5em; }
      .contact-page-text-block .contact-page-txt-one ul li {
        color: #848484;
        font-size: 0.8em;
        line-height: 2.5; }
      .contact-page-text-block .contact-page-txt-one ul li:before {
        color: #8dc73f;
        content: "• "; }

.form-group {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em; }
  .form-group label {
    margin-bottom: 0; }
  .form-group .form-control {
    font-size: 0.7rem; }

.clients-page-banner-block {
  float: none;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0; }
  .clients-page-banner-block .clients-page-banner-block-img {
    display: flex;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0; }
    .clients-page-banner-block .clients-page-banner-block-img img {
      height: 100%;
      overflow: hidden;
      padding: 0 15px;
      width: 100%; }

.clients-page-text-block {
  display: flex;
  float: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 0;
  padding-right: 5px; }
  .clients-page-text-block .clients-page-txt-one {
    border-right: 1px solid #cacaca; }
    .clients-page-text-block .clients-page-txt-one h1 {
      color: #848484;
      font-size: 1.5em;
      margin: 2em auto;
      padding-left: 1em;
      text-align: center; }
      .clients-page-text-block .clients-page-txt-one h1 strong {
        color: #8dc73f; }
  .clients-page-text-block .clients-page-txt-two ul {
    list-style: none;
    padding-left: 1em; }
    .clients-page-text-block .clients-page-txt-two ul li {
      color: #848484;
      font-size: 0.8em;
      line-height: 2.5; }
    .clients-page-text-block .clients-page-txt-two ul li:before {
      color: #8dc73f;
      content: "• "; }

.front-end-blank-line {
  height: 100px; }

.front-end-footer {
  background-color: #404041;
  bottom: 0;
  height: 100px;
  width: 100%; }
  .front-end-footer p {
    color: #8d8d8e;
    font-size: 0.9em;
    padding: 1em 0;
    text-align: center; }
    .front-end-footer p .front-end-footer-icon {
      cursor: pointer;
      height: 30px; }

/*# sourceMappingURL=quercus.css.map */
