@import 'variables';

@media all screen and (max-width: 380px) {
  html, body {
    margin: 0 auto;
    padding: 0;
  }

  .col-xs-12 {
    float: none;
  }

  .row {
    float: none;
    margin: 0;
    padding: 0;
  }

  .footer-list li {
    font-size: 0.5em;
  }

}

@media only screen and (max-width: 480px) {
 .principal-header {

    .principal-header-block {

      .principal-header-logo-box {
  
        img {      
          display: flex;
          margin: 0 auto;
          width: 80%;
        }
      }

      .principal-header-clientaccess-box {
        display: none;

        .principal-header-clientaccess-box-label {
          display: none;
        }
      }
    }
  }

  .frontpage-header-nav {
    display: none;
  }

  .frontpage-responsive-header-nav {
    display: flex;
    padding: 0;

    .frontpage-responsive-header-block {
      width: 100%;

      .responsive-icon {
        background-color: $skyblue-base;
        color: $white;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 1em;
      }

      .frontpage-header-navbar-box {
        background-color: $skyblue-base;      

        .navbar-responsive {
          height: 0;
          padding: 0;
          transition: ease 0.5s;

          li {
            padding: 0.25em;
            text-align: center;

            a {
              color: $white;
              text-decoration: none;
            }
          }

          li:hover,
          li:active,
          li:focus {
            background-color: #006296;
            cursor: pointer;
            padding: 0.25em;            
          }
        }

        .navbar-responsive-activated {
          height: 200px;
          padding: 0;
          transition: ease 0.5s;
        }

      }
    }
  }


  .frontpage-slider-block {

    .frontpage-slider-box {
      
      .frontpage-slider-box-imgs {
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
      }

      .frontpage-slider-txt-box {
        height: 18em;
      }

    }
  }  

  .frontpage-information-block {
    display: flex;
    float: none;
    margin: 0 auto;
    padding: 0;

    .frontpage-information-block-group {
      display: block;

      .frontpage-information-block-boxes {
        float: none;
        margin: 1em auto;
        width: 80%;
      }

      .fibb-spaces {
        margin: 0 auto;
      }
    }

    .frontpage-information-block-two {

      .frontpage-information-block-two-up {
        float: none;
        width: 90%;

        p {
          padding: 1em 0;
        }
      }

      .frontpage-information-block-two-down {
        float: none;
        width: 90%;        
      }
    }
  }

  .frontpage-principal-info-elements-block {
    display: flex;
    height: auto;
    margin: 0 auto;
    padding: 0;

    .frontpage-info-elements-block {
      display: block;
      height: auto;
      margin: 0 auto;
      padding: 0;

      .frontpage-info-elements-boxes {
        height: auto;
        padding: 0;
        margin: 1em auto;

        .fieb-img-block {
          float: none;
          margin: 0 auto;
          padding: 0;
        }

        .fieb-block {
          margin: 0 auto;
          padding: 0;
        }
      }
    }
  }


  .services-principal-block {
    display: flex;
    margin: 0 auto;
    padding: 0;

    .services-principal-main-block {
      display: flex;
      margin: 0 auto;
      text-align: center;

      .services-principal-label {

        .services-label-line {
          font-size: 0.6em;
        }
      }
    }
  }

  .services-info-elements-block {
    .services-info-principal-block {
      .services-info-elements-boxes {
        .services-infoelements-boxes h3 {
          font-size: 1em;
        }
      }
    }
  }

  .services-info-elements-boxes {
    float: none;
    margin: 1em auto;
    padding: 0;

    .services-infoelements-boxes {
      margin: 1em auto;
    }
  }

  .services-container-one {
    padding: 1em;

    .services-container-one-left,
    .services-container-one-right {
      margin: 0.75em auto;
    }
  }

  .services-container-two {
    padding: 1em;

    .services-container-two-left,
    .services-container-two-right {
      margin: 0.75em auto;
    }
  }  

  .howwework-slider-block {
    .howwework-slider-box {
      .howwework-slider-box-imgs {
        height: 200px;
      }
    }
  }
    
  .howwework-slider-box-imgs-elem {
    height: 220px;
    width: 100%;
  }

  .howwework-slider-block {
    .howwework-slider-box { 
      .howwework-slider-txt-box {
        height: 250px;
      }
    }
  }

  .howwework-svg-animated-element {
    width: 60%;
  }


  .howwework-information-block-group {
    display: block;
  }


  .advantages-principal-block {
    .advantages-main-principal-block {
      .advantages-left-sidebar-block {
        height: 250px;

        img {
          top: -6em;
          width: 100%;
          position: absolute;
        }
      }

      .advantages-right-sidebar-block {
        .advantages-top-row {
          .advantages-main-field-box {
            .advantages-main-field-block {
              padding: 1em;
            }
          }
        }
      }
    }
  }

  .advantages-main-field-block {
    padding: 1em;
  }


  .contacto-principal-block {
    .contacto-main-principal-block {
      display: block;
      float: left;
    }
  }

  .frontpage-white-square {
    float: none;
    height: 150px;
    padding: 0;

    .frontpage-white-block {
      display: block;
      float: none;
      height: 150px;
      padding: 0;
      margin: 0 auto;
    }
  }

  .principal-footer {
    display: block;

    .footer-ul-list {
      float: none;

      .footer-list {
        margin: 0 auto;
        padding: 0;

        li {
          font-size: 0.6em;
          margin: 0 auto;
          padding: 1em 0;
        }
      }
    }

    .footer-copyright p {
      margin: 0 auto;
      padding: 0.75em;
      text-align: center;
    }
  }


  .footer-list-line {
    display: none;
    height: auto;

  }

  .nav-tabs
  .nav-item {
    width: 100%;
    border-radius: 0;
    border: none;
    margin: 0;
    float: left;
  }

  .nav-tabs
  .nav-item +.nav-item {
    margin-left: 0;
    border-radius: 0;
  }  

  .contacto-left-sidebar-block {
    height: 300px;

    img {
      height: 500px;
      position: relative;
      width: 100%;
    }
  }

  .contacto-right-sidebar-block {
    background: white;
    position: absolute;
    top: 300px;
  }

  .contacto-principal-block {
    .contacto-main-principal-block {
      .contacto-right-sidebar-block {
        .contact-form {
          margin: 0 auto;
          margin-bottom: 5em;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 768px) {

  .principal-header-logo-img {
    width: 100%;
  }

  .frontpage-header-nav {
    display: none;
  }

  .frontpage-responsive-header-nav {
    display: flex;
    padding: 0;

    .frontpage-responsive-header-block {
      width: 100%;

      .responsive-icon {
        background-color: $skyblue-base;
        color: $white;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 1em;
      }

      .frontpage-header-navbar-box {
        background-color: $skyblue-base;      

        .navbar-responsive {
          height: 0;
          padding: 0;
          transition: ease 0.5s;

          li {
            padding: 0.25em;
            text-align: center;

            a {
              color: $white;
              text-decoration: none;
            }
          }

          li:hover,
          li:active,
          li:focus {
            background-color: #006296;
            cursor: pointer;
            padding: 0.25em;            
          }
        }

        .navbar-responsive-activated {
          height: 200px;
          padding: 0;
          transition: ease 0.5s;
        }

      }
    }
  }

  .frontpage-slider-box-imgs-elem {
    height: 100%;
  }

  .frontpage-information-block {

    .frontpage-information-container {

      .frontpage-information-block-group {
        display: block;
        margin: 0 auto;
        padding: 0 1em;
      }
    }
  }

  .frontpage-information-block-boxes {
    width: 45%;
  }

  .frontpage-information-block-two-up, {
    float: none;

    p {
      font-size: 0.72em;
      margin: 1em auto;
      width: 90%;
      padding: 1em 0;
    }
  }
  .frontpage-information-block-two-down {
    float: none;

    .frontpage-information-block-two-down-box {
      display: flex;
      height: 100%;

      img {
        align-self: center;
        height: 80px;
        padding: 0.5em;
      }
    }
  }

  .services-principal-block {
    margin: 0 auto;
    padding: 0;
  }

  .services-label-line {
    font-size: 0.8em;
  }


  .services-info-elements-boxes {
    float: none;
    margin: 1em auto;
    padding: 0;

    .services-infoelements-boxes {
      margin: 1em auto;
    }
  }

  .advantages-principal-block {
    .advantages-main-principal-block {

      .advantages-right-sidebar-block {
        .advantages-top-row {
          .advantages-main-field-box {
            .advantages-main-field-block {
              padding: 1em;

              .advantages-field-box-ribbon {
                h3 {
                  font-size: 0.95em;
                }
              }

              .advantages-field-box-paragraph {

                p {
                  font-size: 0.75em;
                }
              }
            }
          }
        }
      }
    }
  }

  // .contacto-principal-block {
  //   .contacto-main-principal-block {
  //     display: block;

  //     .contacto-left-sidebar-block {
  //       height: 500px;
  //     }
  //   }
  // }

  .contacto-left-sidebar-block {
    height: auto;
  }

  .principal-footer {
    display: block;

    .footer-list {
      margin: 0 auto;
      padding: 0;

      li {
        font-size: 0.6em;
        margin: 0 auto;
        padding: 1em 0;
      }
    }

    .footer-copyright p {
      margin: 0 auto;
      padding: 0.75em;
      text-align: center;
    }
  }


  .footer-list-line {
    display: none;
    height: auto;

  }

}

@media only screen and (max-width: 980px) {

}
