$white: #ffffff;
$skyblue-base: #008AD3;
$gray-base: #43494E;
$gray-icons: #c7c7c7;
$footer-gray: #333333;

$dark-gray: #333333;
$hard-gray: #6b6b6b;
$medium-gray: #bfbfbf;
$ligth-gray: #a0a0a0;
$white-gray: #f2f2f2;

$skyblue-light: #dff2f6;
$skyblue-medium: #8bd1f3;